<!-- Navbar Superior -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Clínica Dental</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/schedule-appointment">
            <i class="fas fa-calendar-check active"></i> Agendar una cita
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="fa-solid fa-tooth"></i> Ingresar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-flex allContainer">
  <div class="vertical-bar"></div>

  <!-- Contenido Principal -->
  <div class="container containerForm my-5 citasform">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <h2 class="text-center mb-4">¿Es tu primera cita?</h2>

        <div class="d-flex justify-content-center mb-4">
          <button class="btn  me-3" (click)="showAppointmentInfoForm(true)" id="yesButton">
            Sí
          </button>
          <button class="btn " (click)="showAppointmentInfoForm(false)" id="noButton">
            No
          </button>
        </div>

        <!-- Formulario Primera Cita -->
        <div *ngIf="isPatientFirstAppointment === true">
          <h2>Registrar Primera Cita</h2>
          <h4 class="text-center">¡Estás a punto de dar un paso hacia una mejor salud bucal!</h4>
          <p class="text-center">La dentista asignada por defecto es Ángela María Rubio</p>
          <form #firstTimeVisitingForm="ngForm" (submit)="scheduleAppointment(firstTimeVisitingForm)">
            <!-- Campo oculto para el ID del doctor -->
            <input
              type="hidden"
              name="doctorId"
              [(ngModel)]="appointmentData.doctorId"
              [value]="1"
            />

            <!-- Campo oculto para el ID del paciente -->
            <input
              type="hidden"
              name="patientIdHidden"
              [(ngModel)]="appointmentData.patientId"
              [value]="0"
            />
            <div class="mb-3">
              <label for="date" class="form-label">Fecha</label>
              <input
                type="date"
                id="date"
                name="date"
                class="form-control"
                [(ngModel)]="appointmentData.date"
                required
              />
              <button
                class="btn btn-primary mt-2 w-100"
                type="button"
                (click)="findAvailableSlots(1)"
                [disabled]="!appointmentData.date"
              >
                Ver horarios disponibles
              </button>
            </div>

            <div *ngIf="canDisplayForm === true">
              <div class="mb-3">
                <label for="time" class="form-label">Seleccionar Horario</label>
                <select
                  id="time"
                  name="time"
                  class="form-select"
                  [(ngModel)]="appointmentData.startTime"
                  required
                >
                  <option *ngFor="let slot of availableSlots" [value]="slot">{{ slot }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Nombre del Paciente</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  [(ngModel)]="appointmentData.patientName"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input
                  type="tel"
                  id="phone"
                  name="phone"
                  class="form-control"
                  [(ngModel)]="appointmentData.patientPhone"
                  pattern="[0-9]{10}"
                  required
                />
                <small class="form-text text-muted">Debe contener 10 dígitos.</small>
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="!firstTimeVisitingForm.valid">
                Confirmar
              </button>
            </div>
          </form>
        </div>

        <!-- Formulario Normal -->
        <div *ngIf="isPatientFirstAppointment === false">
          <h3 class="text-center">¡Nos encanta que estés aquí!</h3>
          <form #form="ngForm" (submit)="scheduleAppointment(form)">
            <div class="mb-3">
              <label for="dentist" class="form-label">Selecciona tu dentista</label>
              <select
                id="dentist"
                name="dentist"
                class="form-select"
                [(ngModel)]="appointmentData.doctorId"
                required
              >
                <option *ngFor="let dentist of dentists" [value]="dentist.id">
                  {{ dentist.name }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="patientId" class="form-label">Tu identificador de Paciente</label>
              <input
                type="text"
                id="patientId"
                name="patientId"
                class="form-control"
                [(ngModel)]="appointmentData.patientId"
                required
              />
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">Fecha</label>
              <input
                type="date"
                id="date"
                name="date"
                class="form-control"
                [(ngModel)]="appointmentData.date"
                required
              />
              <button
                class="btn btn-primary mt-2 w-100"
                type="button"
                (click)="findAvailableSlots(appointmentData.doctorId)"
                [disabled]="!appointmentData.doctorId"
              >
                Ver horarios disponibles
              </button>
            </div>

            <div *ngIf="canDisplayForm === true">
              <div class="mb-3">
                <label for="time" class="form-label">Seleccionar Horario</label>
                <select
                  id="againtime"
                  name="againtime"
                  class="form-select"
                  [(ngModel)]="appointmentData.startTime"
                  required
                >
                  <option *ngFor="let slot of availableSlots" [value]="slot">{{ slot }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Nombre del Paciente</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  [(ngModel)]="appointmentData.patientName"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input
                  type="tel"
                  id="phone"
                  name="phone"
                  class="form-control"
                  [(ngModel)]="appointmentData.patientPhone"
                  pattern="[0-9]{10}"
                  required
                />
                <small class="form-text text-muted">Debe contener 10 dígitos.</small>
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="!form.valid">
                Confirmar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para confirmar cita agendada -->
<div 
class="modal fade" 
id="appointmentConfirmationModal" 
tabindex="-1" 
aria-labelledby="appointmentConfirmationModalLabel" 
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="appointmentConfirmationModalLabel">Cita Agendada</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p><strong>Folio:</strong> {{ appointmentConfirmationDetails.folio }}</p>
      <p><strong>Nombre:</strong> {{ appointmentConfirmationDetails.patientName }}</p>
      <p><strong>Fecha:</strong> {{ appointmentConfirmationDetails.date }}</p>
      <p><strong>Hora:</strong> {{ appointmentConfirmationDetails.startTime }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="redirectToHomepage()">Confirmar</button>
    </div>
  </div>
</div>
</div>



  <div class="vertical-bar"></div>
</div>
