<div class="dashboard">
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar-links">
            <li><a routerLink="/">Finanzas</a></li>
            <li class="insumos"><a routerLink="/inventory-section">Insumos</a></li>
            <li><a routerLink="/">Expedientes</a></li>
            <li><a routerLink="/">Citas</a></li>
            <li><a routerLink="/">Cerrar Sesión</a></li>
        </ul>
    </nav>
  
    <!-- Main Content -->
    <div class="content">
        <h1>Bienvenido Doctor Nombre</h1>
    </div>
</div>
  