<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Clínica Dental</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/schedule-appointment">
            <i class="fas fa-calendar-check"></i> Agendar una cita
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="fa-solid fa-tooth"></i> Ingresar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="homepage">
  <div class="container text-center">
    <h1 class="homepage-title">Clínica Dental Integral</h1>
  </div>
</div>