table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  #headers {
    background-color: rgb(119, 89, 253);
    text-align: center;
  }

  #options{
    text-align: center;
  }
  
  #title{
    font-size: large;
    font-style: italic;
    text-align: center;
  }

  #empty{
    font-size: larger;
    font-style: italic;
    text-align: center;
  }