<h2 style="text-align: center;">Nuevo Registro</h2>
<form [formGroup]="medicalRecordForm" (ngSubmit)="submitForm()">
    <label>
      Doctor ID:
      <input formControlName="doctorId" type="number" />
    </label>
  
    <label>
      <input formControlName="patientId" type="number" hidden/>
    </label>
  
    <label>
      Comment:
      <textarea formControlName="coment"></textarea>
    </label>
  
    <div formArrayName="diagnosis">
        <h3>Diagnosis</h3>
        <button type="button" (click)="addDiagnosis()">Add Diagnosis</button>
        <div *ngFor="let diag of diagnosis.controls; let i = index" [formGroupName]="i">
          <label>Name: <input formControlName="name" /></label>
          <label>Description: <input formControlName="description" /></label>
          <div formArrayName="treatments">
            <h4>Treatments</h4>
            <button type="button" (click)="addTreatment(i)">Add Treatment</button>
            <div *ngFor="let treat of getTreatments(i).controls; let j = index" [formGroupName]="j">
                <label>Description: <input formControlName="description" /></label>
                <label>Dose: <input formControlName="dose" /></label>
              </div>               
          </div>
        </div>
      </div>
    
    <div formArrayName="teeths">
      <h3>Teeths</h3>
      <button type="button" (click)="addTeeth()">Add Teeth</button>
      <div *ngFor="let tooth of teeths.controls; let i = index" [formGroupName]="i">
        <label>Name: <input formControlName="name" /></label>
        <label>Description: <input formControlName="description" /></label>
        <label>
          Is SuperNumerary:
          <input formControlName="isSuperNumerary" type="checkbox" />
        </label>
      </div>
    </div>
  
    <div formArrayName="medicalProcedures">
      <h3>Medical Procedures</h3>
      <button type="button" (click)="addMedicalProcedure()">Add Medical Procedure</button>
      <div *ngFor="let proc of medicalProcedures.controls; let i = index" [formGroupName]="i">
        <label>Name: <input formControlName="name" /></label>
        <label>Description: <input formControlName="description" /></label>
        <label>Procedure Cost: <input formControlName="procedureCost" type="number" /></label>
      </div>
    </div>
  
    <button type="submit">Submit</button>
  </form>
  