/* You can add global styles to this file, and also import other style files */
.mouse-hover{
    cursor: pointer;
}

form input{
    font-weight: 300;
}

form input::placeholder{
    color: #c0bdbd;
    font-weight: 300;
}

.navbar-nav .nav-link:hover, .active {
    color: #0d48a1; 
  }